<h2>ユーザー詳細ページ</h2>
<h3>フォローしているユーザー</h3>
  <% @followed_users.each do |user| %>
          <ul class="showuser">
            <li><%= profile_img(user) %></li>
            <li><%= user.email %></li>
            <li><%= user.name %></li>
          </ul>
  <% end %>

<h3>フォローされているユーザー</h3>
  <% @followers.each do |user| %>
    <ul class="showuser">
      <li><%= profile_img(user) %></li>
      <li><%= user.email %></li>
      <li><%= user.name %></li>
    </ul>
  <% end %>
